<!-- Template de código-fonte: https://app.digitalinnovation.one/admin/learning/content/15297 -->

<h1>Entendendo o Desafio</h1>

<div>&nbsp;</div>

<div><strong>Agora &eacute; a sua hora de brilhar e construir um perfil de destaque na DIO! Explore todos os conceitos explorados at&eacute; aqui&nbsp;e replique (ou melhore, porque n&atilde;o)&nbsp;este projeto pr&aacute;tico. Para isso, crie seu pr&oacute;prio reposit&oacute;rio e aumente ainda mais seu portf&oacute;lio de projetos no GitHub, o qual pode fazer toda diferen&ccedil;a em suas entrevistas t&eacute;cnicas&nbsp;</strong>😎</div>

<div>&nbsp;</div>

<div><em>Dica: voc&ecirc; pode dar um &quot;fork&quot; no reposit&oacute;rio Git para organizar suas altera&ccedil;&otilde;es e evolu&ccedil;&otilde;es&nbsp;mantendo uma refer&ecirc;ncia direta ao c&oacute;digo-fonte original.</em></div>

<div>&nbsp;</div>

<h3><strong>Reposit&oacute;rio Git</strong></h3>

<div>&nbsp;</div>

<div>O Git &eacute; um conceito essencial no mercado de trabalho atualmente, por isso sempre refor&ccedil;amos sua import&acirc;ncia em nossa metodologia educacional. Por isso, todo c&oacute;digo-fonte desenvolvido durante este conte&uacute;do foi versionado no seguinte endere&ccedil;o para que voc&ecirc; possa consult&aacute;-lo a qualquer momento:</div>

<div>&nbsp;</div>

<div><span style="background-color:#f1c40f">TODO: URL(s) completa(s)&nbsp;aqui...Caso n&atilde;o existam, a se&ccedil;&atilde;o &quot;Reposit&oacute;rio Git&quot; deve ser removida durante a valida&ccedil;&atilde;o t&eacute;cnica.</span></div>

<div>&nbsp;</div>

<h3><strong>Slides</strong></h3>

<div>&nbsp;</div>

<div>
<div><span style="background-color:#f1c40f">TODO: Links aqui (com texto personalizado)...Caso n&atilde;o existam, a se&ccedil;&atilde;o &quot;Slides&quot; deve ser removida durante a valida&ccedil;&atilde;o t&eacute;cnica.</span></div>
</div>

<div>
<div>&nbsp;</div>

<div>&nbsp;</div>
</div>

<div>Bons estudos&nbsp;😉</div>
