<!-- Template de código-fonte: https://app.digitalinnovation.one/admin/learning/content/15395 -->

<h1><strong>Materiais Complementares</strong></h1>

<div>&nbsp;</div>

<div>Nossos materiais complementares e de apoio t&ecirc;m como objetivo apresentar informa&ccedil;&otilde;es para facilitar e enriquecer a sua jornada de aprendizado. Para isso, links &uacute;teis (como slides, reposit&oacute;rios e p&aacute;ginas oficiais) ser&atilde;o disponibilizados, al&eacute;m de dicas sobre como se destacar na DIO e no mercado de trabalho 😉</div>

<div>&nbsp;</div>

<h3><strong>Reposit&oacute;rio Git</strong></h3>

<div>&nbsp;</div>

<div>O Git &eacute; um conceito essencial no mercado de trabalho atualmente, por isso sempre refor&ccedil;amos sua import&acirc;ncia em nossa metodologia educacional. Por isso, todo c&oacute;digo-fonte desenvolvido durante este conte&uacute;do foi versionado no seguinte endere&ccedil;o para que voc&ecirc; possa consult&aacute;-lo a qualquer momento:</div>

<div>&nbsp;</div>

<div><span style="background-color:#f1c40f">TODO: URL(s) completa(s)&nbsp;aqui...Caso n&atilde;o existam, a se&ccedil;&atilde;o &quot;Reposit&oacute;rio Git&quot; deve ser removida durante a valida&ccedil;&atilde;o t&eacute;cnica.</span></div>

<div>&nbsp;</div>

<h3><strong>Dicas/Links&nbsp;&Uacute;teis</strong></h3>

<div>&nbsp;</div>

<div>Por fim, disponibilizamos alguns&nbsp;links &uacute;teis para que voc&ecirc; possa se desenvolver ainda mais atrav&eacute;s de refer&ecirc;ncias oficiais das tecnologias,&nbsp;p&aacute;ginas de&nbsp;documenta&ccedil;&atilde;o e/ou f&oacute;runs de discuss&atilde;o relevantes. Nesse contexto, seguem algumas sugest&otilde;es:</div>

<div>&nbsp;</div>

<ul>
	<li><span style="background-color:#f1c40f">TODO: Links t&eacute;cnicos &uacute;teis aqui (com texto personalizado)... Caso n&atilde;o existam, este item deve ser removido durante a valida&ccedil;&atilde;o.</span></li>
	<li><strong>Artigos/F&oacute;rum</strong>: voc&ecirc; pode compartilhar conte&uacute;dos t&eacute;cnicos atrav&eacute;s de <a href="https://web.dio.me/articles" style="color: rgb(52, 152, 219); text-decoration: underline;" target="_blank">Artigos</a> (vis&iacute;veis globalmente na plataforma da DIO). Por outro lado, voc&ecirc; tamb&eacute;m pode compartilhar suas conquistas e d&uacute;vidas usando os F&oacute;runs (que s&atilde;o espec&iacute;ficos para cada experi&ecirc;ncia educacional na DIO, como um Bootcamp por exemplo);</li>
	<li><strong>Rooms</strong>: caso voc&ecirc; esteja inscrito(a) em uma experi&ecirc;ncia educacional na DIO (como um Bootcamp, por exemplo) voc&ecirc; ter&aacute; acesso ao Rooms. O Rooms &eacute; uma ferramenta de bate-papo em tempo real onde todos os inscritos podem interagir, compartilhando d&uacute;vidas e dicas (que podem conter imagens e snippets de c&oacute;digo-fonte);</li>
	<li><strong>Pesquise na Web</strong>: pode parecer &oacute;bvio, mas &eacute; importante frisar a import&acirc;ncia das engines de busca no dia-a-dia de um profissional de TI. Caso n&atilde;o encontre o que procura dentro da DIO, pesquise sobre o assunto (conceito, d&uacute;vida, erro etc)&nbsp;na Internet (d&ecirc; um Google), pois na maioria&nbsp;das vezes voc&ecirc; ser&aacute; levado &agrave; p&aacute;ginas incr&iacute;veis como o <a href="https://stackoverflow.com" style="color: rgb(52, 152, 219); text-decoration: underline;" target="_blank">StackOverflow</a>&nbsp;que salvar&atilde;o o seu dia 😎</li>
</ul>

<div>&nbsp;</div>
